.action-btn {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 4px 6px;
    font-size: 16px;
    display: inline-flex;
    align-items: center;

    &:hover {
        opacity: 0.8;
    }

    &.edit-btn {
        color: #28a745; // green
    }

    &.delete-btn {
        color: #dc3545; // red
    }
}

.card-header {
    padding: 15px 20px;
}

.nav-tabs {
  border-bottom: 2px solid #dee2e6;

  .nav-link {
    font-weight: 600;
    padding: 10px 20px;
    color: #495057;

    &.active {
      background: #0d6efd;
      color: #fff;
      border-radius: 5px 5px 0 0;
    }
  }
}