<div class="container-fluid brand-logo-page">
    <div class="card shadow-sm">
        <div class="card-header bg-primary text-white">
            <h5 class="mb-0">Category Master</h5>
        </div>

        <div class="card-body">

            <ul ngbNav #nav="ngbNav" class="nav nav-tabs mb-4" activeId="viewtab">
                <li ngbNavItem="addtab">
                    <a ngbNavLink>Add</a>
                    <ng-template ngbNavContent>
                        <form [formGroup]="addForm" (ngSubmit)="Submit()">

                            <div class="row mb-3">
                                <label class="col-md-3 col-form-label">
                                    <span class="required">*</span> Name
                                </label>
                                <div class="col-md-7">
                                    <input type="text" class="form-control" formControlName="name" />

                                    <div class="text-danger mt-1" *ngIf="ctrl['name'].touched && ctrl['name'].invalid">
                                        <span *ngIf="ctrl['name'].hasError('required')">
                                            {{ validationMessage['name']?.['required'] }}
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label class="col-md-3 col-form-label">
                                    <span class="required">*</span> Title
                                </label>
                                <div class="col-md-7">
                                    <input type="text" class="form-control" formControlName="title" />

                                    <div class="text-danger mt-1" *ngIf="ctrl['title'].touched && ctrl['title'].invalid">
                                        <span *ngIf="ctrl['title'].hasError('required')">
                                            {{ validationMessage['title']?.['required'] }}
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label class="col-md-3 col-form-label">
                                    <span class="required">*</span> Discount
                                </label>
                                <div class="col-md-7">
                                    <input type="text" class="form-control" formControlName="isSave" />

                                    <div class="text-danger mt-1" *ngIf="ctrl['isSave'].touched && ctrl['isSave'].invalid">
                                        <span *ngIf="ctrl['isSave'].hasError('required')">
                                            {{ validationMessage['isSave']?.['required'] }}
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label class="col-md-3 col-form-label">
                                    <span class="required">*</span> Link
                                </label>
                                <div class="col-md-7">
                                    <input type="text" class="form-control" formControlName="link" />

                                    <div class="text-danger mt-1" *ngIf="ctrl['link'].touched && ctrl['link'].invalid">
                                        <span *ngIf="ctrl['link'].hasError('required')">
                                            {{ validationMessage['link']?.['required'] }}
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label class="col-md-3 col-form-label">
                                    <span class="required">*</span> Logo Image
                                </label>
                                <div class="col-md-7">
                                    <input type="file" class="form-control" #file (change)="upload(file.files)" />
                                    <img [src]="addedImagePath" alt="added Image" class="preview-img" />
                                </div>
                            </div>

                            <div class="text-end mt-4">
                                <button type="submit" class="btn btn-primary px-4" [disabled]="addForm.invalid">
                                    {{ buttonText }}
                                </button>
                                <button type="button" class="btn btn-danger px-4 ms-2" (click)="cancelForm()">
                                    Cancel
                                </button>
                            </div>

                        </form>
                    </ng-template>
                </li>

                <li ngbNavItem="viewtab">
                    <a ngbNavLink>View</a>
                    <ng-template ngbNavContent>
                        <div class="table-responsive mt-3">
                            <ngx-datatable class="bootstrap" [rows]="objRows" [columnMode]="'force'" [headerHeight]="45"
                                [footerHeight]="45" [rowHeight]="'auto'" [limit]="5">
                                <ngx-datatable-column name="Name" prop="name"></ngx-datatable-column>
                                <ngx-datatable-column name="Title"></ngx-datatable-column>
                                <ngx-datatable-column name="Discount" prop="isSave"></ngx-datatable-column>
                                <ngx-datatable-column name="Link" prop="link"></ngx-datatable-column>

                                <ngx-datatable-column name="Logo">
                                    <ng-template ngx-datatable-cell-template let-row="row">
                                        <img [src]="row.imagePath" class="logo-img" />
                                    </ng-template>
                                </ngx-datatable-column>

                                <ngx-datatable-column name="Actions">
                                    <ng-template ngx-datatable-cell-template let-row="row">
                                        <button class="btn-icon edit" (click)="edit(row.id)">
                                            <i class="fa-solid fa-pen-to-square"></i>
                                        </button>

                                        <button class="btn-icon delete" (click)="deleteData(row.id)">
                                            <i class="fa-solid fa-trash"></i>
                                        </button>
                                    </ng-template>
                                </ngx-datatable-column>
                            </ngx-datatable>
                        </div>
                    </ng-template>
                </li>
            </ul>
            <div [ngbNavOutlet]="nav"></div>
        </div>
    </div>
</div>